[Unit]
Description=bitcoind-metrics-exporter
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=bitcoind-metrics-exporter
EnvironmentFile=-/etc/bitcoind-metrics-exporter/bitcoind-metrics-exporter.env
ExecStart=/usr/bin/bitcoind-metrics-exporter
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
